*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-1c1c1b: #1c1c1b;
  --color-777777: #777777;
  --color-f5f5f7: #f5f5f7;
  --color-febd69: #febd69;

}
body {
  font-family: 'Rubik', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}

/* Header Start */

.header-top-strip {
  background-color: var(--color-131921);
}

/* Header part end  */
/* Contact page */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form.form-control {
  background-color: #f5f5f7;
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul {
  list-style: none;
  color: #777777;
}
.contact-inner-wrapper ul li a {
  color: #777777;
}
.w-19{
  width: 19%;
}
.contact-inner-wrapper input:focus {
  border-radius: none;
}
/* Contact page end */

/* Compare product  */
.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross, .wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title, .wishlist-details h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details h6.price, .wishlist-details h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
.compare-product-card .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* Compare product end */
/* Login page */
.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--color-1c1c1b);
}
.auth-card .signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: 0px;
}
.auth-card .signup:hover {
  background-color: var(--color-131921);
  color: white;
}